body {
font-family: 'Inria Sans', sans-serif;
color: #698C66;
margin: auto;
height: 100vh;
display: flex;
flex-direction: column;


}
.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#company_logo{
    height: 20px; 
}
#nav_header{
    padding: 0.5em;    
}
.landing_box{
    flex: 1; /*fills up the remaining part of the body*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#landing_box_1{
    color: black;
    font-weight: bold;
    font-size: 2em;
}
#landing_box_2{
    font-weight: bold;
    font-size: 5em;
}
#landing_box_3{
    font-size: 1.3em;
    color: black;

}
#landing_box_4{
    margin-top: 1em;
    font-size: 1em;
    
}
#landing_box_4 a{
   text-decoration: none;
   color: #698C66; 
}
#sign_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.sign_in_form{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.sign_elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22em; 
}
.sign_elements label{
    font-size: small;
}
#login_email, #login_password {
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    background-color: whitesmoke;
}
#btn_login{
    padding: 1em;
    border: none;
    color: white;
    background-color: #90A88E;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
#btn_login:hover{
    background-color: #698C66;

}
#already_have{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
#already_have a{
    text-decoration: none;
    color: #698C66;
    font-size: small;
}
#forgot_password{
    color: #90A88E;
    font-weight: 300;
}
input {
    outline-color: #698C66;
}

/*Dashoard here*/
#nav_editor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #698C66;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}
#nav_editor a{
    text-decoration: none;
    color: #90A88E;
}
#left_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#left_nav div{
    margin-left: 2em;
}
#right_nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
#user_prof_pics, #username_and_acctval {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}
#username_and_acctval{
    margin-right: 0.7em;
}
#user_prof_pics img{
    border-radius: 50%;
    height: 2em;
    width: 2em;
}
#user_deets{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 1em;

}
#notifications img{
    height: 1em;
    cursor: pointer;
}
#dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.dashboard_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
}
#dash_header{
    font-size: larger;
    margin-bottom: 0.5em;
}
#user_dash{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    width: 70vw;
    padding: 1em;
    font-size: small;
}
#dash_user_acctval, #dash_user_valtraded{
    width: 30em;
    height: 10em;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px #00000040;
    display: flex;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
}
#user_dash_head{
    font-size: large;
    font-weight: 400;
}
#user_dash_val{
    font-size:x-large;
    font-weight: 700;
}
#assets{
    margin-top: 2em;
}
#asset_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    width: 70vw;
    padding: 1em;
    font-size: small;
}
